<%= render "/layouts/navbar" %>
<h1>All users of this social sites</h1>
<%if current_user==nil%>
    <p>Please Sign in to see the users of this applications</p>
<%else%>
<% @users.each do |user|%>
    <%if user != current_user%>
        <%= user.user_name%>
        <%pre_send_request = Follow.where(request_by_id: current_user.id, request_to_id: user.id)%> 
        <%if !pre_send_request%>
            <%= form_with model: @follow, url: users_follow_request_path, method: "GET" do |form| %>
                <%= form.hidden_field :request_by_id, value: current_user.id %>
                <%= form.hidden_field :request_to_id, value: user.id %>
                <%= form.submit "send follow request"%><br>
            <% end %>   
        <%else%>
            <%= button_to "unfollow"%><br>
        <%end%>

    <%end%>
<%end%>
<%end%>
