<%= render "/layouts/navbar" %>
<%= render "/posts/post_form"%>
<h1> Your profile detail: </h1>
<p>UserName: <%= current_user.user_name%></p>
<p>Email: <%= current_user.email%></p>
<h2>Notifications</h2>
<% @request_bys.each do |follow|%>
<% if follow.request_to_id%>
<p> You have successfully send the friend request to: <%=User.find(follow.request_to_id).user_name %></p>
<%= button_to 'Undo', post_likes_path(@post), method: :post %>
<%end%>
<%end%>
<hr>
<%@request_tos.each do |follow|%>
<% if follow.request_by_id !=current_user.id%>
<p>  friend request has been sent by: <%=User.find(follow.request_by_id).user_name %></p>
<%= button_to 'Accept', post_likes_path(@post), method: :post %>
<%= button_to 'Reject', post_like_path(@post, pre_like), method: :delete %>
<%end%>
<%end%>