<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <span role="button"  aria-expanded="false" class ="nav-link"><%=link_to "Home", root_path%></span>
      </li>
      <li class="nav-item">
        <span class="nav-link "  role="button"  aria-expanded="false"><%= link_to "Users", users_index_path%> </span>
      </li>
      <li class="nav-item dropdown">
       <%if current_user != nil%>
        <a class="nav-link" href = "<%= user_path(current_user.id)%>">
         <img class="rounded-circle shadow-4-strong" width="50" height="50" alt="avatar2" src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp"/>
        </a>
        <%end%>
      </li>
      <li class="nav-item">
          <span class="nav-link "  role="button"  aria-expanded="false">
           <% if user_signed_in? %> 
             <%= link_to 'Log out', destroy_user_session_path, data: { turbo_method: "delete" } %>
            <% else %>
             <%= link_to "Sign in", new_user_session_path, method: :get %>
           <% end %>
          </span>
      </li>
    </ul>
  </div>
</nav>